.certificate-container {
  width: 100%;
  height: 600px;
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
  box-sizing: border-box;
}

.certificate-title {
  margin: 0;
  margin-bottom: 20px;
  color: #0000009a;
  font-size: 4em;
}

.certificate-body {
  padding: 20px;
  border-radius: 10px;
}

.recipient-name {
  margin: 10px 0;
  font-size: 2em;
  font-weight: bold;
  font-family: cursive;
  color: #0000009a;
}

.course-name {
   margin: 10px 0;
  font-size: 2em;
  font-weight: bold;
  font-family: cursive;
  color: #0000009a;
}

.certificate-signature {
  margin-top: 40px;
  text-align: right;
}

.hr{
  width: 200px !important;
  margin-left: auto;
  margin-right: 0;
}

p{
  margin: 0;
  font-size: 18px;
  color: #0000009a;
  margin-right: 20px;
}