 .certificate-container {
  width: 100%;
  max-width: 800px;
  height: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.9); 
  border-radius: 10px;
  margin: auto;
}

.certificate-title {
  margin: 0;
  margin-bottom: 20px;
  color: #0000009a;
  font-size: 2.5em; 
}

.certificate-body {
  padding: 20px;
  border-radius: 10px;
}

.recipient-name {
  margin: 10px 0;
  font-size: 1.8em; 
  font-weight: bold;
  font-family: cursive;
  color: #0000009a;
}

.course-name {
  margin: 10px 0;
  font-size: 1.8em; 
  font-weight: bold;
  font-family: cursive;
  color: #0000009a;
}

.certificate-signature {
  margin-top: 90px;
  text-align: right;
  font-weight: bold; 
}

.hr {
  width: 150px !important;
  margin-left: 10px;
  margin-right: 0;
  font-weight: bold;
  border-top: 2px solid #000; 
 
  
}

p {
  margin: 0;
  font-size: 1rem;
  color: #0000009a;
  margin-right: 20px;
}

.certificate-footer {
  margin-top: 20px;
  text-align: center;
}

.download-btn {
  padding: 10px 20px;
  margin-bottom: 10px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
}

.download-btn:hover {
  background-color: #0056b3;
}


@media (max-width: 768px) {
  .certificate-container {
    padding: 15px;
  }

  .certificate-title {
    font-size: 2em;
  }

  .recipient-name, .course-name {
    font-size: 1.5em;
  }

  .certificate-signature {
    margin-top: 30px;
  }

  .hr {
    width: 120px !important;
  }
}

@media (max-width: 480px) {
  .certificate-container {
    padding: 10px;
  }

  .certificate-title {
    font-size: 1.8em;
  }

  .recipient-name, .course-name {
    font-size: 1.2em;
  }

  .certificate-signature {
    margin-top: 30px;
  }

  .hr {
    width: 100px !important;
  }

  p {
    font-size: 0.9rem;
  }
} 
