  .card {
    border-radius: 10px;
  }
  
  .btn-primary {
    background-color: #0056b3;
    border: none;
  }
  
  .btn-outline-danger {
    border-color: #dc3545;
    color: #dc3545;
  }
  
  .btn-outline-primary {
    border-color: #3b5998;
    color: #3b5998;
  }
  
  .btn-outline-danger:hover,
  .btn-outline-primary:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
  
  .invalid-feedback {
    color: #dc3545;
  }
  
  .is-invalid {
    border-color: #dc3545;
  }
  
  select.form-control {
    background-color: #fff;
    border: 1px solid #ced4da;
  }
  